{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}

<div class="container my-5">
    <div class="row">

        <!-- Sidebar -->
        <div id="accountSidebar" class="col-3">
            <div class="list-group shadow-sm">
                <a href="{{ url_for('profile') }}" class="list-group-item list-group-item-action d-flex align-items-center {% if active_page == 'profile' %}active{% endif %}">
                    <i class="fa-solid fa-address-card me-2"></i>Profile
                </a>
                <a href="{{ url_for('orders') }}" class="list-group-item list-group-item-action d-flex align-items-center {% if active_page == 'orders' %}active{% endif %}">
                    <i class="fa-solid fa-box-open me-2"></i>Orders
                </a>
                <a href="{{ url_for('security') }}" class="list-group-item list-group-item-action d-flex align-items-center {% if active_page == 'security' %}active{% endif %}">
                    <i class="fa-solid fa-shield-halved me-2"></i>Security
                </a>
            </div>
        </div>

        <!-- Main content -->
        <div class="col-9">
            <div class="main-content ms-5">
                {% block account_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}