{% extends "account/account.html" %}

{% block account_content %}

<div class="section-heading pb-1">
    <h1 class="fs-4">Welcome, {{ current_user.first_name }}!</h1>
</div>
{% for order in orders %}
    <h2 class="fw-semibold fs-6 mb-3 mt-4">Check your last order</h2>
    <div class="card order-card mb-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item p-3">
                <div class="row mt-3">
                    <div class="col-12 col-md-6 col-lg-5 mb-3 mb-md-0 ps-lg-5">
                        <h3 class="fs-6 fw-bold">Order #{{ order.id }} </h3> 
                    </div>
                    <div class="col-12 col-md-6 col-lg-5">
                        <p>Date: <strong>{{ order.created_at | format_date }}</strong></p>   
                    </div>
                    <div class="col-12 col-md-6 col-lg-2 mt-md-3 mt-lg-0">
                        <p>Items: <strong>{{ order.item_count }}</strong></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 mt-md-3 ps-lg-5">
                        <p>Total: <strong>€{{ "%.2f"|format(order.total)  }}</strong></p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7 mt-md-3">
                        <p>Status: <span class="badge {% if order.status == 'pending' %}bg-warning{% elif order.status == 'processing' %}bg-info{% elif order.status == 'shipped' %}bg-primary{% elif order.status == 'delivered' %}bg-success{% elif order.status == 'cancelled' %}bg-danger{% endif %}">{{ order.status|title }}</span></p>
                    </div>
                </div>
            </li>
            <li class="list-group-item dark-item p-4">
                <div class="text-center">
                    <a href="{{ url_for('account.order_details', order_id=order.id) }}" class="btn btn-sm action-btn" aria-label="View details for order {{ order.id }}">
                        View Details
                    </a>
                </div>
            </li>
        </ul>
    </div>
{% else %}
    <div class="recent-orders pt-3">
        <p>No recent orders</p>
        <div class="orders-image d-flex justify-content-center align-items-center mt-5">
            <img src="{{ url_for('static', filename='images/no_orders.png') }}" id="noOrders" alt="No recent orders">
        </div>
    </div>
{% endfor %}

{% endblock %}