{% extends "account/account.html" %}

{% block account_content %}

<div class="page-header pb-1">
    <h4>Change Password</h4>
</div>
<div class="change-password-form row mt-3">
    <form method="post" action="{{ url_for('change_password') }}">
    {% set error = error | default({}) %}
        <div class="card border-0">
            <div class="card-body">
                <div class="password col-12 col-md-6 mb-3">
                {% set current_password_error = error.get('current_password') %}
                    <input type="password" id="current_password" name="current_password" class="form-control {% if current_password_error %}is-invalid{% endif %}" placeholder="Current password">
                    <button type="button" class="btn toggle-password" data-target="current_password">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                    {% if current_password_error %}
                        <div class="invalid-feedback">{{ current_password_error }}</div>
                    {% endif %}
                </div>
                <div class="password col-12 col-md-6 mb-3">
                {% set password_error = error.get('password') %}
                    <input type="password" id="password" name="password" class="form-control {% if password_error %}is-invalid{% endif %}" placeholder="Password">
                    <button type="button" class="btn toggle-password" data-target="password">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                    {% if password_error %}
                        <div class="invalid-feedback">{{ password_error }}</div>
                    {% endif %}
                </div>
                <div id="passwordHelp" class="form-text d-none">
                    Password must contain:
                    <ul>
                        <li id="length">At least 8 characters</li>
                        <li id="letter">A letter</li>
                        <li id="number">A number</li>
                        <li id="special">A special character (@, $, !, %, *, ? or &)</li>
                    </ul>
                </div>  
                <div class="password col-12 col-md-6 mb-4"> 
                {% set confirm_password_error = error.get('confirm_password') %}
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control {% if confirm_password_error %}is-invalid{% endif %}" placeholder="Confirm password">
                    <button type="button" class="btn toggle-password" data-target="confirm_password">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                    {% if confirm_password_error %}
                        <div class="invalid-feedback">{{ confirm_password_error }}</div>
                    {% endif %}
                </div>
                <div class="col-12 col-md-6 mb-2 text-center">
                    <button class="btn change-password-btn" type="submit">Change password</button>
                </div> 
            </div>
        </div>
    </form>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {

        // Select all toggle button
        document.querySelectorAll('.toggle-password').forEach(button => {
            button.addEventListener('click', () => {

                // Get the target input
                const inputId = button.getAttribute('data-target');
                const input = document.getElementById(inputId);

                // Check current input type
                const isPassword = input.type === 'password';

                //Toggle type
                input.type = isPassword ? 'text' : 'password';

                // Get button ico
                const icon = button.querySelector('i');

                // Toggle icons
                if (isPassword) {
                    icon.classList.remove('fa-eye');
                    icon.classList.add('fa-eye-slash');
                } else {
                    icon.classList.remove('fa-eye-slash');
                    icon.classList.add('fa-eye');
                }

            });
        });

        // Check password strength
        const passwordInput = document.getElementById("password");
        const passwordHelp = document.getElementById("passwordHelp")

        // Show password criteria when user clicks on password input
        passwordInput.addEventListener("focus", () => {
            passwordHelp.classList.remove("d-none");
        });

        passwordInput.addEventListener("input", () => {
            const value = passwordInput.value;

            document.getElementById("length").style.color =
                value.length >= 8 ? "green" : "red";

            document.getElementById("letter").style.color =
                /[A-Za-z]/.test(value) ? "green" : "red";

            document.getElementById("number").style.color =
                /\d/.test(value) ? "green" : "red";

            document.getElementById("special").style.color =
                /[@$!%*?&]/.test(value) ? "green" : "red";
        });

        // Remove red border and hide error message when users inputs on invalid field
        document.querySelectorAll("input").forEach(input => {

            input.addEventListener("input", () => {

                input.classList.remove("is-invalid");

                const error = input.parentElement.querySelector(".invalid-feedback");

                if (error) {
                    error.classList.add("d-none");
                }

            });

        });
    });

</script>

{% endblock %}