# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/

# VS Code settings
.vscode/

# Environment variables
.env

# MacOS
.DS_Store