{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

<div class="container my-5">
    <div class="admin-login-form mx-auto">
        <form method="post" action="{{ url_for('admin_login')}}">

        {% set error = error | default({}) %}
        {% set username = username | default('') %}

            <div class="login pb-1 mb-2">
                <h4>Administrator Login</h4>
            </div>
            <div class="card border-0">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <p class="text-muted">Access is restricted to system administrators</p>
                    </div>
                    <div class="username mx-auto pt-2 mb-4">
                    {% set username_error = error.get('username') %}
                        <input type="text" name="username" class="form-control {% if username_error %}is-invalid{% endif %}" placeholder="Username" value="{{ username }}" autocomplete="off">
                        {% if username_error %}
                            <div class="invalid-feedback">{{ username_error }}</div>
                        {% endif %}
                    </div>
                    <div class="password mx-auto mb-5">   
                    {% set password_error = error.get('password') %}
                        <input type="password" id="password" name="password" class="form-control {% if password_error %}is-invalid{% endif %}" placeholder="Password">
                        <button type="button" class="btn toggle-password" data-target="password">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                        {% if password_error %}
                            <div class="invalid-feedback">{{ password_error }}</div>
                        {% endif %}
                    </div>     
                    <div class="mb-2 text-center">
                        <button class="btn login-btn" type="submit">Login</button>
                    </div>  
                </div>
            </div>
        </form>  
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        
        // Select all toggle button
        document.querySelectorAll('.toggle-password').forEach(button => {
            button.addEventListener('click', () => {

                // Get the target input
                const inputId = button.getAttribute('data-target');
                const input = document.getElementById(inputId);

                // Check current input type
                const isPassword = input.type === 'password';

                //Toggle type
                input.type = isPassword ? 'text' : 'password';

                // Get button ico
                const icon = button.querySelector('i');

                // Toggle icons
                if (isPassword) {
                    icon.classList.remove('fa-eye');
                    icon.classList.add('fa-eye-slash');
                } else {
                    icon.classList.remove('fa-eye-slash');
                    icon.classList.add('fa-eye');
                }

            });
        });

        // Remove red border and hide error message when users inputs on invalid field
        document.querySelectorAll("input").forEach(input => {

            input.addEventListener("input", () => {

                input.classList.remove("is-invalid");

                const error = input.parentElement.querySelector(".invalid-feedback");

                if (error) {
                    error.classList.add("d-none");
                }

            });

        });
    });

</script>

{% endblock %}