{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block main %}

<div class="container my-5 px-4">
    <div class="cart-top pb-1">
        <h4 >Cart</h4>  
    </div>

    {% if cart_items %}
        <!-- Total number of items -->
        <div class="total-items py-3 ps-3">
            Items: {{ total_items }}
        </div>      
    {% endif %}

    {% for item in cart_items %}
        <div class="cart-body row align-items-center py-3 mx-1">

            <!-- Item image -->
            <div class="item-image d-flex justify-content-center align-items-center col-6 col-md-3">
                <img src="{{ url_for('static', filename=item.image) }}" class="product-image" alt="{{ item.name }}">
            </div>

            <div class="col-6 col-md-4">

                <!-- Item name -->
                <h6 class="item-name mb-3">{{ item.name }}</h6>

                <!-- Item brand -->
                <div class="mb-3">{{ item.brand }}</div>

                <!-- Item pack size -->
                <div>{{ item.pack_size }}</div>
            </div>

            <!-- Item total price -->
            <div class="item-total col-6 col-md-2 my-4 my-md-0 text-center fs-5 fw-bold" data-product-id="{{ item.product_id }}">
                € {{ "%.2f"|format(item.item_total) }}
            </div>

            <!-- Item quantity -->
            <div class="item-quantity col-6 col-md-3 my-4 my-md-0">
                <div class="d-flex justify-content-start justify-content-md-center align-items-center">

                    <!-- Decrease -->
                    <button class="btn btn-sm decrease-btn" data-product-id="{{ item.product_id }}" data-action="decrease">
                        <i class="fa-solid fa-minus fa-sm"></i>
                    </button>

                    <!-- Quantity -->
                    <div class="quantity-value px-3" data-product-id="{{ item.product_id }}">
                        {{ item.quantity }}
                    </div>

                    <!-- Increase -->
                    <button class="btn btn-sm increase-btn" data-product-id="{{ item.product_id }}" data-action="increase" {% if item.quantity >= item.stock %}disabled{% endif %}>
                        <i class="fa-solid fa-plus fa-sm"></i>
                    </button>

                    <!-- Remove -->
                    <button class="btn btn-sm remove-btn ms-3 ms-md-4" data-product-id="{{ item.product_id }}" data-action="remove">
                        <i class="fa-solid fa-trash fa-lg"></i>
                    </button>

                </div>
            </div>
        </div>
    {% else %}
        <div class="empty-cart pt-3">
            <p>Your cart is empty</p>
            <div class="empty-cart-image d-flex justify-content-center align-items-center mt-5">
                <img src="{{ url_for('static', filename='images/empty_cart.png') }}" id="emptyCart" alt="Empty cart">
            </div>
        </div>
    {% endfor %}

    {% if cart_items %}
        <!-- Cart total -->
        <div class="cart-bottom text-end pt-3 pb-1 pe-3">
            <h6 class="cart-total">Total: €{{ "%.2f"|format(cart_total) }}</h6>
        </div>

        <!-- Checkout button -->
        <div class="checkout-button mt-4 text-center">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('checkout') }}" class="btn checkout-btn">Checkout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="btn checkout-btn">Checkout</a>
            {% endif %}
        </div>
    {% endif %}
     
</div>

<script>

    document.addEventListener("DOMContentLoaded", function() {

        // Update cart badge count, cart item quantity, total items, item total and cart total
        document.querySelectorAll('.increase-btn, .decrease-btn, .remove-btn').forEach(button => {
            button.addEventListener('click', function () {

                const productId = this.dataset.productId;
                const action = this.dataset.action;

                fetch('/update_cart', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: `product_id=${productId}&action=${action}`
                })
                .then(res => res.json())
                .then(data => {
                    console.log(data);

                    // Update cart badge count
                    updateCartBadge(data.cart_count);

                    // Remove or update cart item quantity
                    const itemId = data.product_id;
                    const quantityValue = document.querySelector(`.quantity-value[data-product-id="${itemId}"]`);

                    if (data.updated_quantity > 0) {
                        quantityValue.innerText = data.updated_quantity;
                    } else {
                        quantityValue.closest('.cart-body').remove();
                    }

                    // Disable "+" button if max stock is reached
                    const increaseButton = document.querySelector(`.increase-btn[data-product-id="${itemId}"]`);

                    if (increaseButton) {
                        if (data.updated_quantity >= data.stock) {
                            increaseButton.disabled = true;
                        } else {
                            increaseButton.disabled = false;
                        }
                    }

                    // Update total number of items
                    const totalItems = document.querySelector('.total-items');
                    if (totalItems) {
                        totalItems.innerText = "Items: " + data.cart_count;
                    }

                    // Update item total
                    const itemTotal = document.querySelector(`.item-total[data-product-id="${itemId}"]`);
                    if (itemTotal) {
                        itemTotal.innerText = "€ " + data.item_total.toFixed(2);
                    }

                    // Update cart total
                    const cartTotal = document.querySelector('.cart-total');
                    if (cartTotal) {
                        cartTotal.innerText = "Total: € " + data.cart_total.toFixed(2);
                    }

                    // If cart is empty
                    if (data.cart_count === 0) {

                        if (totalItems) totalItems.remove();
                        if (cartTotal) cartTotal.closest('.cart-bottom').remove();

                        if (!document.querySelector('.empty-cart')) {
                            const container = document.querySelector('.container');
                            const emptyDiv = document.createElement('div');
                            emptyDiv.className = 'empty-cart pt-3';

                            emptyDiv.innerHTML = `
                                <p>Your cart is empty</p>
                                <div class="empty-cart-image d-flex justify-content-center align-items-center mt-5">
                                    <img src="/static/images/empty_cart.png" id="emptyCart" alt="Empty cart">
                                </div>
                            `;

                            container.appendChild(emptyDiv);
                        }

                        const buyButton = document.querySelector('.checkout-button');
                        buyButton.remove();
                    }
                });
            });
        });
    });

</script>

{% endblock %}