{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}

<div class="container my-5">
    <div class="forgot-password-form mx-auto">
        <form method="post" action="{{ url_for('forgot_password')}}">
        {% set error = error | default({}) %}
        
            <div class="forgot-password pb-1 mb-4">
                <h4>Forgot your password?</h4>
            </div>
            <div class="pt-2 mb-5">
            {% set email_error = error.get('email') %}
                <input type="text" inputmode="email" name="email" class="form-control {% if email_error %}is-invalid{% endif %}" placeholder="Enter your email">
                {% if email_error %}
                    <div class="invalid-feedback">{{ email_error }}</div>
                {% endif %}
            </div>   
            <div class="mb-2 text-center">
                <button class="btn forgot-password-btn" type="submit">Reset password</button>
            </div> 
        </form> 
    </div>
</div>

{% endblock %}