{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

<!-- Desktop and tablet layout -->
<div class="container my-5 d-none d-md-block">
    <div class="row">
        <div class="login-form col-12 col-md-6 pe-md-5">

            <!-- Login form -->
            {% include "components/login_form.html" %} 

        </div>

        <!-- Register link -->
        <div class="col-12 col-md-6 mt-5 mt-md-0 ps-md-5">
            <div class="register-link pb-1 mb-4">
                <h4>Don't have an account?</h4>
            </div>
            <div class="pt-2">
                <a href="{{ url_for('register') }}" class="btn register-btn ms-3">Register here</a>
            </div>
        </div>
        
    </div>

</div>

<!-- Smartphone layout -->
<div class="container mt-3 mb-5 d-md-none">

    <ul class="nav nav-tabs mb-4">

        <!-- Login tab -->
        <li class="nav-item w-50">
            <button class="nav-link active w-100" data-bs-toggle="tab" data-bs-target="#login">
                Login
            </button>
        </li>

        <!-- Register tab -->
        <li class="nav-item w-50">
            <button class="nav-link w-100" data-bs-toggle="tab" data-bs-target="#register">
                Register
            </button>
        </li>

    </ul>

    <div class="tab-content">

        <!-- Login form -->
        <div class="tab-pane fade show active" id="login">
        
            {% include "components/login_form.html" %}
        
        </div>

        <!-- Register form -->
        <div class="tab-pane fade" id="register">
        
            {% include "components/register_form.html" %}

        </div>

    </div>

</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        
        // Select all toggle button
        document.querySelectorAll('.toggle-password').forEach(button => {
            button.addEventListener('click', () => {

                // Get the target input
                const inputId = button.getAttribute('data-target');
                const input = document.getElementById(inputId);

                // Check current input type
                const isPassword = input.type === 'password';

                //Toggle type
                input.type = isPassword ? 'text' : 'password';

                // Get button ico
                const icon = button.querySelector('i');

                // Toggle icons
                if (isPassword) {
                    icon.classList.remove('fa-eye');
                    icon.classList.add('fa-eye-slash');
                } else {
                    icon.classList.remove('fa-eye-slash');
                    icon.classList.add('fa-eye');
                }

            });
        });

        // Remove red border and hide error message when users inputs on invalid field
        document.querySelectorAll("input").forEach(input => {

            input.addEventListener("input", () => {

                input.classList.remove("is-invalid");

                const error = input.parentElement.querySelector(".invalid-feedback");

                if (error) {
                    error.classList.add("d-none");
                }

            });

        });
    });

</script>

{% endblock %}