<form method="post" action="{{ url_for('login')}}">
    <div class="login pb-1 mb-4">
        <h4>Login</h4>
    </div>
    <div class="pt-2 mb-4">
        <input type="email" name="email" class="form-control" placeholder="Email">
    </div>
    <div class="password mb-5">   
        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
        <button type="button" class="btn toggle-password" data-target="password">
            <i class="fa-solid fa-eye"></i>
        </button>
    </div>     
    <div class="mb-2 text-center">
        <button class="btn login-btn" type="submit">Login</button>
    </div>
    <div class="forgot-password text-center">
        <a href="/">Forgot your password?</a>
    </div>  
</form> 