<button class="btn filters-btn" data-bs-toggle="offcanvas" data-bs-target="#filtersOffcanvas" aria-controls="filtersOffcanvas">
    <span>
        <i class="fa-solid fa-sliders"></i>
        Filters{% if active_filters_count %} ({{ active_filters_count }}){% endif %}     
    </span>    
    {% if active_filters_count %}
        {% if route_name == 'display_category' %}
            <a href="{{ url_for(route_name, category_id=base_params.category_id) }}" class="clear-filters-btn" onclick="event.stopPropagation();">
                <i class="fa-solid fa-x"></i>
            </a>
        {% elif route_name == 'display_brand' %}
            <a href="{{ url_for(route_name, brand_id=base_params.brand_id) }}" class="clear-filters-btn" onclick="event.stopPropagation();">
                <i class="fa-solid fa-x"></i>
            </a>
        {% endif %}
    {% endif %}
</button>