{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}

<div class="container my-5">
    <div class="forgot-password-form mx-auto">
        <form method="post" action="{{ url_for('auth.forgot_password')}}">
        {% set error = error | default({}) %}
        
            <div class="section-heading pb-1 mb-2">
                <h1 class="fs-4">Forgot your password?</h1>
            </div>
            <div class="card border-0">
                <div class="card-body">

                    <!-- Email -->
                    <div class="pt-2 mb-5">
                    {% set email_error = error.get('email') %}
                        <input type="text" inputmode="email" name="email" class="form-control {% if email_error %}is-invalid{% endif %}" placeholder="Enter your email">
                        {% if email_error %}
                            <div class="invalid-feedback">{{ email_error }}</div>
                        {% endif %}
                    </div>   

                    <!-- Reset link button -->
                    <div class="mb-2 text-center">
                        <button class="btn action-btn" type="submit">Send reset link</button>
                    </div> 
                </div>
            </div>
        </form> 
    </div>
</div>

<script src="{{ url_for('static', filename='js/validation.js') }}"></script>

{% endblock %}