{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

<!-- Desktop and tablet layout -->
<div class="container my-5 d-none d-md-block">
    <div class="row">
        <div class="login-form col-12 col-md-6 pe-md-5">

            <!-- Login form -->
            {% include "components/login_form.html" %} 

        </div>

        <!-- Register link -->
        <div class="col-12 col-md-6 mt-5 mt-md-0 ps-md-5">
            <div class="register-link pb-1 mb-4">
                <h2 class="fs-4">Don't have an account?</h2>
            </div>
            <div class="pt-2">
                <a href="{{ url_for('auth.register') }}" class="btn action-btn ms-3">Register here</a>
            </div>
        </div>
    </div>
</div>

<!-- Smartphone layout -->
<div class="container mt-3 mb-5 d-md-none">
    <ul class="nav nav-tabs mb-4">

        <!-- Login tab -->
        <li class="nav-item w-50">
            <button class="nav-link active w-100" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">
                Login
            </button>
        </li>

        <!-- Register tab -->
        <li class="nav-item w-50">
            <button class="nav-link w-100" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab" aria-controls="register" aria-selected="false">
                Register
            </button>
        </li>
    </ul>

    <div class="tab-content mx-2">

        <!-- Login form -->
        <div class="tab-pane fade show active" id="login" role="tabpanel">
        
            {% include "components/login_form.html" %}
        
        </div>

        <!-- Register form -->
        <div class="tab-pane fade" id="register" role="tabpanel">
        
            {% include "components/register_form.html" %}

        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/forms.js') }}"></script>
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>

{% endblock %}