{% extends "layout.html" %}

{% block title %}
    Order Summary
{% endblock %}

{% block main %}

<div class="container my-5">
    <div class="section-heading pb-1 mx-3">
        <h1 class="fs-4">Order summary</h1>  
    </div>

    <div class="card border-0">
        <div class="card-body">

            <!-- Shipping address -->
            <div class="mt-3 mb-5">
                <h2 class="subsection-header fs-6 fw-semibold mb-3">Shipping address</h2>
                <div class="fw-semibold">{{ address.full_name }}</div>
                <div>{{ address.address_line }}</div>
                <div>{{ address.postal_code }} {{ address.city }}</div>
                <div>{{ address.country }}</div>
            </div>

            <!-- Shipping method -->
            <div class="mb-5">
                <h2 class="subsection-header fs-6 fw-semibold mb-3">Shipping Method</h2>
                <div>{{ shipping_method|capitalize }}</div>
            </div>

            <!-- Order items -->
            <div class="mb-5">
                <h2 class="subsection-header fs-6 fw-semibold mb-3">Order items</h2>
                {% if cart_items %}
                    <div class="table-responsive">
                        <table class="table align-middle">

                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th class="ps-4">Image</th>
                                    <th>Qty</th>
                                    <th class="text-center">Unit price</th>
                                    <th class="text-end">Total</th>
                                </tr>
                            </thead>

                            <tbody>
                            {% for item in cart_items %}
                                <tr>

                                    <!-- Product -->
                                    <td>
                                        <div class="fw-semibold">{{ item.name }}</div>
                                        <small class="text-muted">{{ item.pack_size }}</small>
                                    </td>

                                    <!-- Image -->
                                     <td>
                                        <div class="order-item-image d-flex justify-content-center align-items-center ms-0">
                                            <img src="{{ url_for('static', filename=item.image_url) }}" class="product-image" alt="{{ item.name }}">
                                        </div>
                                    </td>

                                    <!-- Quantity -->
                                    <td class="ps-3">{{ item.quantity }}</td>

                                    <!-- Unit price -->
                                    <td class="text-center">€{{ "%.2f"|format(item.price) }}</td>

                                    <!-- Total -->
                                    <td class=" text-end fw-semibold">€{{ "%.2f"|format(item.quantity * item.price) }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% else %}
                    <div class="text-center text-muted py-4">
                        <i class="fa-solid fa-box-open fa-lg me-2" aria-hidden="true"></i>No items found
                    </div>
                {% endif %}

            </div>

            <!-- Totals -->
            <div class="mb-5">
                <div class="d-flex justify-content-between ms-2 mb-2">
                    <span>Subtotal</span>
                    <span>€{{ "%.2f"|format(subtotal) }}</span>
                </div>
                <div class="d-flex justify-content-between ms-2 mb-2">
                    <span>Shipping</span>
                    <span>€{{ "%.2f"|format(shipping_cost) }}</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between fw-semibold ms-2">
                    <span>Total</span>
                    <span>€{{ "%.2f"|format(total) }}</span>
                </div>
            </div>
        </div>
    </div>    

    <!-- Place order button-->
    <div class="mt-4 text-center">
        <form method="POST" action="{{ url_for('orders.place_order') }}">
            <button type="submit" class="btn action-btn">Place Order</button>
        </form>
    </div>
</div>

{% endblock %}