{% extends "layout.html" %}

{% block title %}
    Order Success
{% endblock %}

{% block main %}

<div class="container my-5 px-4">
    <div class="section-header pb-1">
        <h1 class="fs-4">Order placed succesfully. Thank you for your purchase!</h1>  
    </div>

    <!-- Order info -->
    <div class="pt-4">
        <h2 class="subsection-header fs-5 mb-3">Order #{{order.id }}</h2>
        <p class="mb-1">Placed on: {{ order.created_at | format_date }}</p>
        <p>Shipping method: {{ order.shipping_method|capitalize }}</p>
    </div>

    <!-- Shipping address -->
    <div class="pt-4">
        <h2 class="subsection-header fs-5 mb-3">
            <i class="fa-solid fa-location-dot me-2" aria-hidden="true"></i>Shipping address
        </h2>
        <p class="mb-1">{{ order.full_name }}</p>
        <p>{{ order.address_line }}, {{ order.postal_code }} {{ order.city }}, {{ order.country }}</p>
    </div>

    <!-- Order items -->
    <div class="pt-4">
        <h2 class="subsection-header fs-5 mb-3">
            <i class="fa-solid fa-box-open me-2" aria-hidden="true"></i>Order items
        </h2>

        {% for item in items %}
            <p class="mb-1">{{ item.quantity }}x {{ item.name }}, {{ item.pack_size }} - €{{ "%.2f"|format(item.price) }}/unit</p>
        {% endfor %}

    </div>

    <!-- Totals -->
    <div class="pt-4">
        <h2 class="subsection-header fs-5 mb-3">
            <i class="fa-solid fa-receipt me-2" aria-hidden="true"></i>Order summary</h2>
        <p class="mb-1">Subtotal: €{{ "%.2f"|format(order.subtotal) }}</p>
        <p class="mb-1">Shipping: €{{ "%.2f"|format(order.shipping_cost) }}</p>
        <p>Total: €{{ "%.2f"|format(order.total) }}</p>
    </div>

    <!-- Buttons-->
    <div class="mt-5 text-center">
        <a href="/" class="btn continue-btn">Continue Shopping</a>
        <a href="{{ url_for('account.orders') }}" class="btn view-orders-btn">View Orders</a>
    </div>
</div>

{% endblock %}