{% extends "layout.html" %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block main %}

<!-- Breadcrumb -->

{% include "components/breadcrumb.html" %}

<!-- Filters and product cards -->
<div class="container my-4">
    
    <!-- Desktop layout -->
    <div class="row align-items-center d-none d-lg-flex py-4 g-0">

        <!-- Category/brand name -->
        <h1 class="category-name col-lg-2 fs-4">{{ page_title }}</h1>

        <!-- Active filter badges-->
        <div class="active-filters-badges col-lg-6">
        {% set filters = (page_type in ['category', 'search'] and (request.args.getlist('subcategory') or request.args.getlist('brand'))) 
        or (page_type == 'brand' and request.args.getlist('subcategory'))
        or request.args.get('min_price') or request.args.get('max_price') %}
        
        {% if filters %}
            <span class="active-filters me-2">Active filters: </span>
            
            <!-- Subcategories-->
            {% if page_type in ['category', 'brand', 'search'] %}
                {% for subcategory in request.args.getlist('subcategory') %}
                    {% for sub in subcategories %}
                        {% if sub.category_id|string == subcategory %}
                            <span class="badge rounded-pill filter-badge me-1">{{ sub.name }}</span>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <!-- Brands -->
            {% if page_type in ['category', 'search'] %}
                {% for brand in request.args.getlist('brand') %}
                    {% for b in brands %}
                        {% if b.brand_id|string == brand %}
                            <span class="badge rounded-pill filter-badge me-1">{{ b.name }}</span>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <!-- Price-->
            {% if request.args.get('min_price') or request.args.get('max_price') %}
                <span class="badge rounded-pill filter-badge me-1">
                    {% if request.args.get('min_price') %}€{{ request.args.get('min_price') }}{% else %}€0{% endif %}
                    -
                    {% if request.args.get('max_price') %}€{{ request.args.get('max_price') }}{% else %}500{% endif %}
                </span>
            {% endif %}

            <!-- Clear filters -->
            {% if route_name == 'products.display_category' %}
                <a href="{{ url_for(route_name, category_id=base_params.category_id) }}" class="ms-2">
                    Clear all
                </a>
            {% elif route_name == 'products.display_brand' %}
                <a href="{{ url_for(route_name, brand_id=base_params.brand_id) }}" class="ms-2">
                    Clear all
                </a>
            {% elif route_name == 'products.search' %}
                <a href="{{ url_for(route_name, search_query=base_params.search_query) }}" class="ms-2">
                    Clear all
                </a>
            {% endif %}
        {% endif %}
        </div>

        <!-- Number of products -->
        <p class="number-products col-lg-2 text-end mb-0 pe-3">{{ total_products }}{% if total_products > 1 %} products{% else %} product{% endif %}</p>
        
        <!-- Sorting dropdown -->
        <div class="sorting-dropdown col-lg-2">

            {% include "components/sorting_dropdown.html" %}

        </div>
    </div>

    <!-- Tablet layout -->
    <div class="row align-items-center d-none d-md-flex d-lg-none py-4 g-3">

        <!-- Category/brand name -->
        <h1 class="category-name col-md-3 fs-4">{{ page_title }}</h1>

        <!-- Number of products -->
        <div class="col-md-3 text-end">
            <p class="number-products mb-0">{{ total_products }}{% if total_products > 1 %} products{% else %} product{% endif %}</p>
        </div>

        <!-- Filters offcanvas button -->
        <div class="col-md-3">
            
            {% include "components/offcanvas_button.html" %}

        </div>

        <!-- Sorting dropdown -->
        <div class="sorting-dropdown col-md-3">
            
            {% include "components/sorting_dropdown.html" %}

        </div>
     </div>

    <!-- Smartphone layout -->
    <div class="row d-md-none align-items-center mb-2">
        
        <!-- Category/brand name -->
        <div class="col-8">
            <h1 class="category-name fs-4">{{ page_title }}</h1>
        </div>

        <!-- Number of products -->
        <div class="col-4 text-end">
            <p class="number-products mb-0">{{ total_products }}{% if total_products > 1 %} products{% else %} product{% endif %}</p>
        </div>
    </div>

    <div class="row d-md-none align-items-center mb-4">
        
        <!-- Filters offcanvas button -->
        <div class="col-6">
            
            {% include "components/offcanvas_button.html" %}

        </div>

        <!-- Sorting dropdown -->
        <div class="col-6">
            <div class="sorting-dropdown">
                
                {% include "components/sorting_dropdown.html" %}

            </div>
        </div>
    </div>    

    <!-- Filters offcanvas, smartphone and tablet-->
    <div class="offcanvas offcanvas-start w-100" tabindex="-1" id="filtersOffcanvas">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title fs-5">Filters</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            
            {% include "components/filters_form.html" %}

        </div>
    </div>
    
    <div class="row">

        <!-- Filters sidebar, desktop only -->
        <div class="col-lg-2 my-4 pb-4 d-none d-lg-block">
            <div class="filters-sidebar">

                {% include "components/filters_form.html" %}

            </div>
        </div>

        <!-- Product cards -->
        <div class="col-lg-10">
            <div class="row row-cols-1 row-cols-md-4 g-4 pb-5">
                {% for product in products %}
                    <div class="col">
                        <div class="card product-card h-100 text-center d-flex flex-column">
                            <a href="{{ url_for('products.product_detail', product_id=product.product_id) }}" class="text-decoration-none">    
                                
                                <!-- Product image -->
                                <div class="card-img-top d-flex justify-content-center align-items-center mb-2">
                                    <img src="{{ url_for('static', filename=product.image_url) }}" class="product-image pt-4" alt="{{ product.name }}">
                                </div>
                                <div class="card-title mx-2">

                                    <!-- Product name -->
                                    <h2 class="fs-6">{{ product.name }}</h2>

                                </div>
                            </a>
                            <div class="card-body">

                                <!-- Product price -->
                                <p class="card-text fs-5 fw-bold">€{{ "%.2f"|format(product.price) }}</p>

                                <!-- Stock alert -->
                                <div class="stock-alert mb-1">
                                    {% if product.stock <= 5 and product.stock > 0 %}
                                        <div class="text-danger small">
                                            Only {{ product.stock }} {% if product.stock > 1 %}units{% else %}unit{% endif %} available
                                        </div>
                                    {% elif product.stock == 0 %}
                                        <div class="text-danger small">
                                            Out of stock
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- Add to cart button -->
                                <button type="button" class="btn add-to-cart-btn my-3 {% if product.stock == 0 %}disabled{% endif %}" data-product-id="{{ product.product_id }}">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>No products found</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
{% if total_pages > 1 %}
    <nav aria-label="Product pagination">
        <ul class="pagination justify justify-content-center mb-5">
            {% if page > 1 %}
                <li class="page-item">
                    {% if route_name == 'products.display_category' %}
                        <a class="page-link" href="{{ url_for(route_name, category_id=base_params.category_id, page=page-1, sort=base_params.sort,
                            subcategory=base_params.subcategory, brand=base_params.brand, min_price=base_params.min_price, max_price=base_params.max_price) }}">
                            Previous
                        </a>
                    {% elif route_name == 'products.display_brand' %}
                        <a class="page-link" href="{{ url_for(route_name, brand_id=base_params.brand_id, page=page-1, sort=base_params.sort, subcategory=base_params.subcategory, 
                            min_price=base_params.min_price, max_price=base_params.max_price) }}">
                            Previous
                        </a>
                    {% elif route_name == 'products.search' %}
                        <a class="page-link" href="{{ url_for(route_name, search_query=base_params.search_query, page=page-1, sort=base_params.sort,
                            subcategory=base_params.subcategory, brand=base_params.brand, min_price=base_params.min_price, max_price=base_params.max_price) }}">
                            Previous
                        </a>
                    {% endif %}
                </li>
            {% endif %}

            {% for p in range(1, total_pages + 1) %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    {% if route_name == 'products.display_category' %}
                        <a class="page-link" href="{{ url_for(route_name, category_id=base_params.category_id, page=p, sort=base_params.sort, 
                            subcategory=base_params.subcategory, brand=base_params.brand, min_price=base_params.min_price, max_price=base_params.max_price) }}">
                            {{ p }}
                        </a>
                    {% elif route_name == 'products.display_brand' %}  
                        <a class="page-link" href="{{ url_for(route_name, brand_id=base_params.brand_id, page=p, sort=base_params.sort, subcategory=base_params.subcategory, 
                            min_price=base_params.min_price, max_price=base_params.max_price) }}">
                            {{ p }}
                        </a>
                    {% elif route_name == 'products.search' %}
                        <a class="page-link" href="{{ url_for(route_name, search_query=base_params.search_query, page=p, sort=base_params.sort, 
                            subcategory=base_params.subcategory, brand=base_params.brand, min_price=base_params.min_price, max_price=base_params.max_price) }}">
                            {{ p }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}

            {% if page < total_pages %}
                <li class="page-item">
                    {% if route_name == 'products.display_category' %}
                        <a class="page-link" href="{{ url_for(route_name, category_id=base_params.category_id, page=page+1, sort=base_params.sort,
                            subcategory=base_params.subcategory, brand=base_params.brand, min_price=base_params.min_price, max_price=base_params.max_price) }}">
                            Next
                        </a>
                    {% elif route_name == 'products.display_brand' %}
                        <a class="page-link" href="{{ url_for(route_name, brand_id=base_params.brand_id, page=page+1, sort=base_params.sort, subcategory=base_params.subcategory, 
                            min_price=base_params.min_price, max_price=base_params.max_price) }}">
                            Next
                        </a>
                    {% elif route_name == 'products.search' %}
                        <a class="page-link" href="{{ url_for(route_name, search_query=base_params.search_query, page=page+1, sort=base_params.sort,
                            subcategory=base_params.subcategory, brand=base_params.brand, min_price=base_params.min_price, max_price=base_params.max_price) }}">
                            Next
                        </a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

<script>

    document.addEventListener("DOMContentLoaded", function () {

        // Check if min price > max price in price filter
        const forms = document.querySelectorAll('.filters-form');

        forms.forEach(form => {

            const minInput = form.querySelector('input[name="min_price"]');
            const maxInput = form.querySelector('input[name="max_price"]');
            const errorDiv = form.querySelector('.priceError');
            const applyButton = form.querySelector('button[type="submit"]')

            function validatePrice() {
                const min = parseFloat(minInput.value);
                const max = parseFloat(maxInput.value);

                if (min && max && min > max) {
                    errorDiv.textContent = "Invalid interval";
                    applyButton.disabled = true; // Disable submit
                } else {
                    errorDiv.textContent = "";
                    applyButton.disabled = false; // Enable submit
                }
            }

            // Listen to input changes
            if (minInput && maxInput && errorDiv && applyButton) {
                minInput.addEventListener('input', validatePrice);
                maxInput.addEventListener('input', validatePrice);
                validatePrice();
            }
        });

        // Connect addToCart to "add to cart" button
        document.querySelectorAll('.add-to-cart-btn').forEach(button => {
            button.addEventListener('click', function() {
                const productId = this.dataset.productId;
                addToCart(productId);
            });
        });
    });
    
</script>

{% endblock %}