{% extends "layout.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block main %}

<!-- Breadcrumb -->

{% include "components/breadcrumb.html" %}

<!-- Product info -->
<div class="container px-4 my-5" aria-label="Product details">
    <div class="row align-items-center">

        <!-- Product image -->
        <div class="col-md-6 d-flex justify-content-center mb-5 mb-md-0">
            <img src="{{ url_for('static', filename=product.image_url) }}" class="img-fluid product-detail-image" alt="{{ product.name }}">
        </div>

        <div class="col-md-6">

            <!-- Product brand -->
            <p class="product-brand">
                <a href="{{ url_for('products.display_brand', brand_id=product.brand_id) }}">{{ product.brand }}</a>
            </p>

            <!-- Product name -->
            <h1 class="product-name fs-4 my-4">{{ product.name }}</h1>

            <!-- Product description -->
            <p>{{ product.description }}</p>

            <!-- Porduct pack size -->
            <p class="text-muted my-4">{{ product.pack_size }}</p>

            <!-- Product price -->
            <p class="product-price fs-4 fw-bold">€{{ "%.2f"|format(product.price) }}</p>

            <!-- Stock alert -->
            {% if product.stock <= 5 and product.stock > 0 %}
                <div class="text-danger small text-center text-md-start mt-4">
                    Only {{ product.stock }} {% if product.stock > 1 %}units{% else %}unit{% endif %} available
                </div>
            {% elif product.stock == 0 %}
                <div class="text-danger small mt-4">
                    Out of stock
                </div>
            {% endif %}

            <!-- Add to cart button -->
            <div class="product-detail-btn">
                <button type="button" class="btn action-btn add-to-cart-btn mt-4 mb-2 {% if product.stock == 0 %}disabled{% endif %}" data-product-id="{{ product.product_id }}">Add To Cart</button>
            </div>
        </div>
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {

        // Connect addToCart to "add to cart" button
        document.querySelectorAll('.add-to-cart-btn').forEach(button => {
            button.addEventListener('click', function() {
                const productId = this.dataset.productId;
                addToCart(productId);
            });
        });
    });
    
</script>

{% endblock %}