{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<div class="container my-5">
    <div class="row">
        <div class="register-form col-12 col-md-6 pe-md-5">
            
            <!-- Register form -->
            {% include "components/register_form.html"%}

        </div>

        <!-- Login link -->
        <div class="col-12 col-md-6 mt-5 mt-md-0 ps-md-5">
            <div class="login-link pb-1 mb-4">
                <h2 class="fs-4">Already have an account?</h2>
            </div>
            <div class="pt-2">
                <a href="{{ url_for('auth.login') }}" class="btn register-btn ms-3">Login</a>
            </div>   
        </div>

    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {

        // Select all toggle button
        document.querySelectorAll('.toggle-password').forEach(button => {
            
            button.addEventListener('click', () => {

                // Get the target input
                const input = button.parentElement.querySelector('input');

                if (!input) return;

                // Check current input type
                const isPassword = input.type === 'password';

                // Toggle type
                input.type = isPassword ? 'text' : 'password';

                // Update label
                button.setAttribute("aria-label", isPassword ? "Hide password" : "Show password");

                // Get button icon
                const icon = button.querySelector('i');

                // Toggle icons
                if (isPassword) {
                    icon.classList.remove('fa-eye');
                    icon.classList.add('fa-eye-slash');
                } else {
                    icon.classList.remove('fa-eye-slash');
                    icon.classList.add('fa-eye');
                }
            });
        });

        // Check password strength
        document.querySelectorAll("form").forEach(form => {

            const passwordInput = form.querySelector(".password-input");
            const passwordHelp = form.querySelector(".password-help");

            if (!passwordInput || !passwordHelp) return;

            passwordInput.addEventListener("focus", () => {
                passwordHelp.classList.remove("d-none");
            });

            passwordInput.addEventListener("input", () => {

                const value = passwordInput.value;

                form.querySelector(".length").style.color =
                    value.length >= 8 ? "green" : "red";

                form.querySelector(".letter").style.color =
                    /[A-Za-z]/.test(value) ? "green" : "red";

                form.querySelector(".number").style.color =
                    /\d/.test(value) ? "green" : "red";

                form.querySelector(".special").style.color =
                    /[@$!%*?&]/.test(value) ? "green" : "red";
            });

        });

        // Remove red border and hide error message when users inputs on invalid field
        document.querySelectorAll("input").forEach(input => {

            input.addEventListener("input", () => {

                input.classList.remove("is-invalid");

                const error = input.parentElement.querySelector(".invalid-feedback");

                if (error) {
                    error.classList.add("d-none");
                }

            });
        });
    });

</script>

{% endblock %}